$pro-label: #fca120;
$text-blue: #315399;
$text-black: #202223;
$text-red: #ec6b6c;
$label-color-1: #6d7175;
$label-color-2: #202223;
$label-color-3: #8c9196;
$label-color-4: #4b4b4b;
// background

$bg-red: #ec6b6c;
$bg-blue: #315399;
$bg-color-1: #f5f8fb;
$bg-color-2: #f8fafb;
$bg-color-3: #f4f4f4;
$bg-light-blue: #ebf8fc;
$bg-light-pink: #fef1f1;
$bg-dark-blue: #315399;
$bg-dark-green: #315399;
$bg-light-green: #ebf8fc;
$bg-light-yellow: #f2fbe6;

$bg-linear-1: linear-gradient(180deg, #f8fafb 0%, rgba(248, 250, 251, 0) 100%);
$input-border: #dddfe3;
$border-color: #dddfe3;
$border-color-blue: #315399;
